<h1 mat-dialog-title>{{"HOME.LOGINPAGE" | translate}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder='{{"ACCOUNT.LOGIN" | translate}}' [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder='{{"ACCOUNT.PASSWORD" | translate}}' [(ngModel)]="data.password">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="data.isEmployee">{{"ACCOUNT.LOGINEMPLOYEE" | translate}}</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{"HOME.BACK" | translate}}</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
