<div class="search-div">
  <button mat-raised-button (click)="openEditDialogProvider({})">
    <mat-icon>add</mat-icon>
    {{"INFOPAGES.CREATE" | translate}}
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <label>
      <input matInput [(ngModel)]="searchKey" placeholder='{{"INFOPAGES.SEARCH" | translate}}' autocomplete="off"
             (keyup)="applyFilter()">
    </label>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="contractInfo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"INFOPAGES.PROVIDERCONTRACTINFO" | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <tr>
          <td>{{element.contractInfo}}</td>
          <td>
            <button mat-icon-button (click)="openEditDialogProvider(element)">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button (click)="openEditDialogHistory({Providers_idProvider: element.idProvider})">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </td>
        </tr>
      </td>

    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="Ingredients_idIngredient">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"INFOPAGES.NUMBER" | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-cell *ngFor="let history of element.history">
          {{history.Ingredients_idIngredient}}
        </mat-cell>
      </td>
    </ng-container>

    <!-- count Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"INFOPAGES.COUNT" | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-cell *ngFor="let history of element.history">
          {{history.count}}
        </mat-cell>
      </td>
    </ng-container>

    <!-- cost Column -->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"INFOPAGES.COST" | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-cell *ngFor="let history of element.history">
          {{history.cost}}
        </mat-cell>
      </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"INFOPAGES.DATE" | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-cell *ngFor="let history of element.history">
          {{history.date}}
        </mat-cell>
      </td>
    </ng-container>

    <!-- ingredientName Column -->
    <ng-container matColumnDef="ingredientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"INFOPAGES.INGREDIENTNAME" | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-cell *ngFor="let history of element.history">
          {{history.ingredientName}}
        </mat-cell>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<mat-card *ngIf="!dataSource"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>

