<h1 mat-dialog-title>{{"EDIT.DISH" | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="dishForm" enctype="multipart/form-data">
    <mat-form-field>
      <input matInput formControlName="name" placeholder='{{"EDIT.DISHNAME" | translate}}'>
    </mat-form-field>

    <mat-form-field>
      <textarea formControlName="description" matInput placeholder='{{"EDIT.DESCRIPTION" | translate}}'></textarea>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="prepareTime" matInput placeholder='{{"EDIT.PREPARETIME" | translate}}'>
    </mat-form-field>

    <img *ngIf="photoView" src='{{photoView}}' alt="image">
    <mat-form-field>
      <ngx-mat-file-input accept="image/*" (ngModelChange)="onSetImage(imageInput)" #imageInput formControlName="photo"
                          placeholder='{{"EDIT.IMAGE" | translate}}'></ngx-mat-file-input>
      <button mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="imageInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"EDIT.SELECTCATEGORY" | translate}}</mat-label>
      <mat-select formControlName="Categories_idCategory">
        <mat-option *ngFor="let category of categories$ | async" [value]="category.idCategory">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{"EDIT.SELECTINGREDIENTS" | translate}}</mat-label>
      <mat-select formControlName="ingredients" multiple>
        <mat-option *ngFor="let ingredient of ingredients$ | async"
                    [value]="ingredient.idIngredient">{{ingredient.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{"HOME.BACK" | translate}}</button>
  <button mat-button [mat-dialog-close]="dishForm.value" cdkFocusInitial>Ok</button>
</div>
