<h1>{{"STATISTIC.DISHESSTATISTICTITLE" | translate}}</h1>
<div class="chart">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="true"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [timeline]="timeline">
  </ngx-charts-line-chart>

  <div class="datePickers">
    <mat-form-field>
      <input matInput [matDatepicker]="picker"
             placeholder='{{"STATISTIC.STARTDATE" | translate}}'
             id="startDate"
             [(ngModel)]="startDate"
             (ngModelChange)="filterData()"
             readonly (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="endDatePicker">
      <input matInput [matDatepicker]="pickerEnd"
             placeholder='{{"STATISTIC.ENDDATE" | translate}}'
             id="endDate"
             [(ngModel)]="endDate"
             (ngModelChange)="filterData()"
             readonly (click)="pickerEnd.open()">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
  </div>
</div>

