<h1 mat-dialog-title>{{"ACCOUNT.FORGOTPASSWORDPAGE" | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="updatePasswordForm" enctype="multipart/form-data">
    <mat-form-field>
      <input matInput formControlName="login" placeholder="{{'ACCOUNT.LOGIN' | translate}}">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="oldPassword" matInput placeholder="{{'ACCOUNT.OLDPASSWORD' | translate}}">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="newPassword" matInput placeholder="{{'ACCOUNT.NEWPASSWORD' | translate}}">
    </mat-form-field>

    <mat-checkbox formControlName="isEmployee">{{'ACCOUNT.ISEMPLOYEE' | translate}}</mat-checkbox>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{"HOME.BACK" | translate}}</button>
  <button mat-button [mat-dialog-close]="updatePasswordForm.value" cdkFocusInitial>Ok</button>
</div>
